.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  margin: 0 10px !important;
  align-self: center;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #333;
  transform: scale(1.1);
}

.carousel-control-prev::before,
.carousel-control-next::before {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 12vw;
    height: 35px;
  }

  .carousel-control-prev::before,
  .carousel-control-next::before {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 15vw !important;
    height: 30px;
  }

  .carousel-control-prev::before,
  .carousel-control-next::before {
    font-size: 14px;
  }
}
